.logs-container {
  padding: 20px;
}

.logs-container h2 {
  margin-bottom: 20px;
}


.logs-export-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .logs-container {
    padding: 10px;
  }

  .logs-container h2 {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .logs-export-button {
    flex-direction: column;
    align-items: flex-start;
  }

  .logs-export-button .exportButton {
    width: 100%;
    margin-top: 10px;
  }
}
